@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-persian-50: #eef2ff;
  --color-persian-100: #dfe6ff;
  --color-persian-200: #c5d0ff;
  --color-persian-300: #9caeff;
  --color-persian-400: #6c80ff;
  --color-persian-500: #4a55fb;
  --color-persian-600: #3a34f0;
  --color-persian-700: #3129d4;
  --color-persian-800: #1c39bb; /* Persian Blue */
  --color-persian-900: #1e1f8e;

  --color-shuttle-gray-50: #f5f5f6;
}

@layer base {
  body {
    @apply font-satoshi;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
}